:root {
    --ribbonTransition: 0.5s;
    --ribbonMargin: 3px;
    --ribbonSidebarSize: 28px;
    --ribbonFooterSize: 24px;
}

/* background color */

#browser {
    background-image: none !important;
    background-color: var(--colorAccentBg) !important;
    transition: background-color var(--ribbonTransition) !important;
}

/* header */

#header {
    padding: var(--ribbonMargin) 0 var(--ribbonMargin) 0 !important;
}

button.vivaldi {
    display: none !important;
}

#tabs-container {
    padding-left: 0px !important;
}

/* tabs */

#header,
#browser:not(.transparent-tabbar) #tabs-tabbar-container,
#browser.color-behind-tabs-on .tab.active.active,
#browser .tab.active,
.color-behind-tabs-off .mainbar {
    transition: background-color var(--ribbonTransition), border-color var(--ribbonTransition) !important;
}

.accordion-toggle-arrow {
    background-color: var(--colorAccentBgAlphaHeavy) !important;
}

.tab.active {
    border-bottom-left-radius: var(--radiusHalf) !important;
    border-bottom-right-radius: var(--radiusHalf) !important;
    height: 29px !important;
}

.tab.active:before,
.tab.active:after {
    background-color: transparent !important;
}

.color-behind-tabs-on .tab.active {
    background-color: var(--colorBgAlphaHeavy) !important;
}

/* address panel */

.mainbar {
    transition: border-color var(--ribbonTransition) !important;
    border-width: 0 !important;
    border-radius: var(--radius) !important;
}

.color-behind-tabs-on .mainbar {
    margin: 0 var(--ribbonMargin) var(--ribbonMargin) var(--ribbonMargin) !important;
    background-color: var(--colorBg);
}

.UrlBar-AddressField {
    border: none !important;
}

.color-behind-tabs-on .UrlBar-AddressField {
    background-color: var(--colorAccentBgAlphaHeavy) !important;
}

.color-behind-tabs-off .UrlBar-AddressField {
    background-color: var(--colorBgAlphaBlur) !important;
}

.OmniDropdown {
    background-color: var(--colorBgAlpha) !important;
    backdrop-filter: var(--backgroundBlur) !important;
}

/* side panel + content */

#browser:not(.fullscreen) .inner {
    margin: 0 var(--ribbonMargin) var(--ribbonMargin) var(--ribbonMargin) !important;
}

/* side panel */

#browser:not(.fullscreen) #panels-container {
    margin: 0 var(--ribbonMargin) 0 0 !important;
    border-radius: var(--radius) !important;
}

#browser:not(.fullscreen) #panels #switch {
    backdrop-filter: none !important;
}

#panels-container.icons,
#panels-container.overlay,
#panels,
#switch,
.toolbar-panel,
.toolbar-panel .button-toolbar {
    width: var(--ribbonSidebarSize) !important;
}

#switch {
    flex: 0 0 var(--ribbonSidebarSize) !important;
    max-width: var(--ribbonSidebarSize) !important;
}

.panel-group {
    margin: 0 0 0 var(--ribbonMargin) !important;
    border-radius: var(--radius) !important;
    left: var(--ribbonSidebarSize) !important;
}

/* #panels-container.overlay .panel-group {
    background-color: var(--ribbonColorAccentBgAlpha) !important;
} */

#panels-container:not(.overlay) .panel-group {
    background-color: transparent !important;
}

.panel-collapse-guard {
    min-width: auto !important;
    max-width: none !important;
}

header.webpanel-header {
    box-shadow: none !important;
}

/* content */

#webview-container,
#webpage-stack {
    border-radius: var(--radius) !important;
}

#webview-container:has(#webpage-stack .tiled.visible) {
    padding: 0px !important;
    box-shadow: none !important;
}

.tile,
.webpageview.tiled:not(.active) {
    box-shadow: none !important;
}

/* start page */

.startpage {
    background-image: var(--ribbonBackgroundImage) !important;
    background-position: center !important;
    background-size: cover !important;
}

.dial {
    backdrop-filter: var(--backgroundBlur) !important;
}

/* quick commands */

.modal-wrapper {
    background-color: var(--colorBgAlpha) !important;
    backdrop-filter: var(--backgroundBlur) !important;
}

.quick-commands {
    background-color: inherit !important;
}

/* footer */

#browser:not(.fullscreen) footer {
    margin: 0 var(--ribbonMargin) var(--ribbonMargin) var(--ribbonMargin) !important;
    border-radius: var(--radius) !important;
    background-color: var(--colorBgAlphaHeavy) !important;
}

footer::after {
    background-color: transparent !important;
}

footer .toolbar-statusbar,
footer .toolbar-statusbar .button-toolbar button {
    height: var(--ribbonFooterSize) !important;
}

/* mail */

#mail_search .list-wrapper {
    background-color: var(--colorBg) !important;
}
